* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #2960AB;
  --mainTransparent: #2960AB70;
  --text: #333;
  --text2: #888;
  /* --bg: #EEEEFF; */
  --bg: #FFF;
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainTransparent);
  border-radius: .4rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main);
}

html,
body {
  min-height: 100dvh;
  background-color: var(--bg);
  font-size: 16px;
}

body {
  padding: 0rem 2rem;
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 14px;
  }
}